.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.blue, .red, .yellow {
	position: relative;
  width: 100px;
  height: 100px;
  top:50px;
  left:50px;
}
.blue {
  background: blue;
}
.red {
  background: red;
}
.yellow {
  background:yellow;
}