.main-block,.house,.roof,.chimney,.door,.window{
  position: absolute;
}
.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  top: 0px;
  left:0px;
}
.roof {
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 100px solid red;
    left:40px;
}
.house {
  width: 160px;
  height: 160px;
  background: coral;
  top: 100px;
  left:-80px;
}
.window {
   width: 40px;
  height: 40px;
  background: cyan;
  top: 50px;
  left:90px;
  z-index: 1;
}
.door {
   width: 60px;
  height: 90px;
  background: brown;
  top: 20px;
  left:-70px;
  z-index: 1;
}
.chimney {
  width: 20px;
  height: 60px;
  background: black;
  top: 20px;
  left:80px;
}


