.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.blue, .red, .yellow {
	position: relative;
  width: 100px;
  height: 100px;
}
.blue {
  background: blue;
  top:120px;
  left:110px; 
}
.red {
  background: red;
  top:70px;
  left:160px;
}
.yellow {
  background:yellow;
  top:20px;
  left:210px;
}